button {
  background-color: #3d414d;
  border-color: #3d414d;
  color:white;
}
.doCalDiv {
  height: 93vh
}
.doCalenderUI {
  border: 1px solid rgb(224, 224, 224);
  padding: 3px;
  vertical-align: top;
}
.doCalenderYear {
  border: 0;
  text-align: right;
  width: 40px;
}
.doCalenderYear:focus {
  border-bottom: 1px solid black;
}
.doCalenderMonth {
  border: 0;
}
.doCalenderDate {
  background-color: rgb(224, 224, 224);
  width: 14.2%;
  height: calc(calc(100%-30px)/6);
  overflow: hidden;
  table-layout: fixed;
}
.doCalenderDate div {
  height:20px;
}
.doCalenderDay {
  height: 30px;
  text-align: center;
}
.doCalenderTop {
  width: 80vw;
  height: 90%;
  margin: 10px auto;
}
.doCalenderHR {
  margin: 3px 0px;
}
.doCalenderTODOEditPopup {
  left: 25%;
  top: 10%;
  height: 80%;
  width: 50%;
  background-color: white;
  border: 1px solid #3d414d;
  padding: 20px 30px;
  border-radius: 8px;
  position: fixed;
  z-index: 333;
}
.doCalenderPopupHead {
  font-size: 30px;
}
.doCalenderPopupList {
  list-style-type: none;
  border-top: 1px solid black;
  padding: 10px;
}
.doCalenderPopupList:last-child {
  border-bottom: 1px solid black;
}
.doCalenderPopupBtn {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.doCalenderPopupInput {
  border: 0;
  width: 95%;
}
.fullLayer {
  position: fixed;
  left:0px;
  top:0px;
  z-index: 20;
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
}
.line-through {
  text-decoration: line-through;
}
