button {
  background-color: #3d414d;
  border-color: #3d414d;
  color:white;
}
.doCalDiv {
  height: 93vh
}
.doCalenderUI {
  border: 1px solid rgb(224, 224, 224);
  padding: 3px;
  vertical-align: top;
}
.doCalenderYear {
  border: 0;
  text-align: right;
  width: 40px;
}
.doCalenderYear:focus {
  border-bottom: 1px solid black;
}
.doCalenderMonth {
  border: 0;
}
.doCalenderDate {
  background-color: rgb(224, 224, 224);
}
.doCalenderDay {
  height: 30px;
  text-align: center;
}
.doCalenderTop {
  width: 80vw;
  height: 90%;
  margin: 10px auto;
}
.doCalenderHR {
  margin: 3px 0px;
}
